{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Twitter{% endblock %}</title>
</head>
<body>
    <header>
    {% block header %}
    {% if user.is_authenticated %}
        <p>{% include 'twitter/user_link.html' with u=user %}</p>
    {% endif %}
    {% endblock header %}
    </header>

    <nav>
    {% block nav %}
        <a href="{% url 'index' %}">HOME</a>
        {% if user.is_authenticated %}
            |
            <a href="{% url 'profile' user.username %}">PROFILE</a>
            |
            <a href="{% url 'settings' %}">SETTINGS</a>
            {% if user.is_staff %}
                |
                <a href="{% url 'admin:index' %}">ADMIN</a>
            {% endif %}
            |
            <a href="{% url 'people'%}">PEOPLE</a>
            |
            <a href="{% url 'logout' %}">LOG OUT</a>
        {% else %}
            |
            <a href="{% url 'people' %}">PEOPLE</a>
            |
            <a href="{% url 'login' %}">LOG IN</a>
            |
            <a href="{% url 'register' %}">REGISTER</a>
        {% endif %}
    {% endblock %}
    </nav>

    <hr>

    <div>
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>