{% extends 'twitter/base.html' %}

{% block content %}
<!-- Post tweet -->
<form action="{% url 'post_tweet' %}" method="post">
    {% csrf_token %}
    {{ post_tweet_form.as_p }}
    <button type="submit">Tweet</button>
</form>

<hr>
<!-- Tweets from followed users -->
<ul>
{% for tweet in tweets %}
    {% include 'twitter/tweet.html' %}
{% endfor %}
</ul>
{% endblock content %}