{% extends 'twitter/base.html' %}

{% block title %}
Twitter / People
{% endblock title %}

{% block header %}
{% if not user.is_authenticated %}
    <h2>Discover new people on Twitter</h2>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock header %}

{% block content %}
<h2>
{% if custom_title %}
    {{ custom_title }}
{% else %}
    People on Twitter
{% endif %}
</h2>

<ol>
{% for profile in people %}
<li>
    <p>
        {% include 'twitter/user_link.html' with u=profile.user %}
        &bull;
        <a href="{% url 'people' %}?following={{ profile.user.username }}">Followers: {{ profile.follower_count }}</a>
        {% if profile.about %}
            <br>
            {{ profile.about }}
        {% endif %}
    </p>
</li>
{% endfor %}
</ol>
{% endblock content %}