{% extends 'twitter/base.html' %}

{% block title %}
{{ profile.user.full_name }} ({{ profile.user.tag }}) | Twitter
{% endblock title %}

{% block content %}
<!-- Profile info -->
<p><strong>{{ profile.user.full_name }}</strong></p>
{% if profile.about %}
    <p>{{ profile.about }}</p>
{% endif %}
<p><em title="{{ profile.user.date_joined }}">Joined {{ profile.user.short_date_joined }}</em></p>

<p>
Tweets: {{ profile.user.tweet_count }}
|
<a href="{% url 'people' %}?followed_by={{ profile.user.username }}">Following: {{ profile.user.following_count }}</a>
|
<a href="{% url 'people' %}?following={{ profile.user.username }}">Followers: {{ profile.follower_count }}</a>
</p>

<!-- Actions -->
{% if user.is_authenticated and profile.user != user %}
    <a href="{% url 'follow_user' profile.user.username %}">
    {% if is_following %}Unfollow{% else %}Follow{% endif %}
    </a>
{% endif %}

<hr>
<!-- User tweets -->
<ul>
{% for tweet in tweets %}
    {% include 'twitter/tweet.html' %}
{% endfor %}
</ul>
{% endblock content %}