{% extends 'twitter/base.html' %}

{% block title %}
Twitter / Settings
{% endblock title %}

{% block content %}
<h2>Account settings</h2>
{% if form_message %}
<p><em>{{ form_message }}</em></p>
{% endif %}
<form action="{% url 'settings' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" value="{{ form_username }}" disabled>
    </p>
    <p>
        <label for="id_full_name">Full name:</label>
        <input type="text" name="full_name" id="id_full_name" maxlength="100" value="{{ form_full_name }}" autofocus required>
    </p>
    <p>
        <label for="id_about">About yourself:</label>
        <br>
        <textarea name="about" id="id_about" cols="30" rows="3">{{ form_about }}</textarea>
    </p>
    <input type="submit" value="Save">
</form>
{% endblock content %}