<li>
    <p>
        {% include 'twitter/user_link.html' with u=tweet.user %}
        &bull;
        <span title="{{ tweet.date }}">{{ tweet.short_date }}</span>
            {% if tweet.user == user %}
            &bull;
            <a href="{% url 'delete_tweet' tweet.id %}" title="Delete tweet">❌</a>
        {% endif %}
        <br>
        {{ tweet.body }}
    </p>
</li>