{% extends 'twitter/base.html' %}

{% block header %}
<h2>Register to Twitter</h2>
{% endblock header %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
{% endblock content %}
